@charset "utf-8";

$text :#363636;
$text_hover: #555;
$text_disabled: #999;
$back: rgba(0, 0, 0, 0.2);
$back_hover: rgba(0, 0, 0, 0.4);
$vermellAj: #C60C30;
$vermellAj_hover: rgba(198,12,48, 0.4);
$font_size: 12px;
$border_radius: 2px;
$back_peu: 999;

